build
.vscode
.DS_Store
autosave.cnm
devfile.yaml
releases
settings.txt
font_preview.png
generate
.idea
compile_commands.json
convert_commands.sh
.amazonq
/font-generator/font_preview.png
/font-generator/generate
/font-generator/fonts
/website/hugo/public/
/website/hugo/resources/_gen/
libchipnomad.so
tracker/platforms/android/app/src/main/assets/chipnomad_data
